{% load thumbnail %}<div class="certificate-page-description">
<h2>{{ certificate.title }}</h2>
<div class="certificate-image">
    <img src="{% thumbnail certificate.image 150x150 crop %}" alt="{{ certificate.title }}" />
</div>
{{ certificate.body|safe }}
</div>