{% load i18n thumbnail %}
{% if certificates.exists %}
<div class="certificate-description">
    <h2 class="certificates">{% trans "Certificates" %}:</h2>
    <ul class="certificates clearfix">
    {% for cert in certificates %}
        <li>
            <a class="certificate" href="{{ cert.get_view_url }}">
                <img width="33" height="33" src="{% thumbnail cert.image 33x33 crop %}" alt="{{ cert.title }}" />
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}