{% load i18n thumbnail %}
<div id="certificates">
    <h2 class="heading-first">{% trans 'Certificates' %}</h2>

    <table class="product-manage-certificates">
        {% for cert in certificates %}
            <tr {% if cert.pk in assigned %}class="assigned"{% endif %}>
                <td class="cert-selector">
                    <input type="checkbox"
                           class="select-certificate"
                           data-url="{% url lfs_certificates_4_product product.pk cert.pk %}"
                           name="certificate-{{ cert.pk }}"
                           {% if cert.pk in assigned %}checked="checked"{% endif %}
                           style="float:left" />
                </td>
                <td class="cert-thumb">{% if cert.image %}
                        <img src="{% thumbnail cert.image 50x50 crop %}" alt="{{ cert.title }}" />
                    {% endif %}
                </td>
                <td class="cert-title">
                    <a href="{{ cert.get_edit_link }}">{{ cert.title }}</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>
                    {% url lfs_manage_certificates as certs_url %}
                    {% blocktrans %}No certificates defined yet. Add some: <a href="{{ certs_url }}">here</a>{% endblocktrans %}
                </td>
            </tr>
        {% endfor %}
    </table>
<script>
    $(function () {
        $('input.select-certificate').change(function(){
            var self = $(this);
            var url =  self.data('url');
            var checked = self.attr('checked')? 1 : 0;
            jQuery.post(url, {'checked': checked}, function(data){
                var data = $.parseJSON(data);
                $.jGrowl(data["message"]);
                if (checked){
                    self.closest('tr').addClass('assigned')
                }
                else{
                    self.closest('tr').removeClass('assigned')
                }
            });

        })
    });
</script>
</div>